@page "/fetch"
@attribute [StreamRendering]
@using Cygnus.Utils

<PageTitle>Fetch</PageTitle>

<h1>Current Cronjobs</h1>

@if (data == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
    @foreach (var item in data)
        {
            <li>@item</li>
        }
    </ul>
}

@code {
    private List<string>? data;

    protected override async Task OnInitializedAsync()
    {
        data = await FetchDatabase.FetchDataAsync("updates");
    }
}