@page "/"

<PageTitle>Home</PageTitle>

<h1>Cygnus Dashboard</h1>

Hello, this is the home page of the Cygnus dashboard. This is a simple dashboard that demonstrates the use of Blazor
components and routing.
